.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(238, 174, 202, 1);
  font-size: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  height: 70px;
  padding: 15px;
  border-bottom: 8px double white;
}
