.contactsList__item {
  font-size: 20px;
  color: rgb(66, 91, 115);
  margin-bottom: 15px;
  margin-right: 15px;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.contactsList__button {
  display: flex;
  align-items: center;

  border: transparent;
  background-color: lightslategray;
  color: #ffffff;
  padding: 12px;
  font-size: 18px;
  width: 100px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactsList__button:hover,
.contactsList__button:focus {
  background-color: rgb(66, 91, 115);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.deleteIcon {
  fill: #ffffff;
  margin-right: 5px;
}
