.homeTitle {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  font-family: Segoe UI;
  color: rgb(66, 91, 115);
}

.homePageContainer {
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
}

/* .homePage {
  background-image: url(/src/pages/images/bg_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-position: center;
} */

.homePage {
    height: 100vh;
    width: 100%;
}